.App {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensure the modal backdrop covers the full screen */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible; /* Ensure it is visible */
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

form {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  width: 30%;
  margin: 0 auto;
  /* position: fixed;
  transform: translate(100%, 100%); */
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
button {
  background-color: skyblue;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  width: 30%;
  margin: 0 auto;
}

input {
  font-size: 1.2rem;
}